body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: 'Georgia', serif; }

body {
  background-color: #f1ece8; }

h1, h3, h4, .sign-in {
  font-family: 'Helvetica', sans-serif; }

.pure-form label {
  font-size: 100%; }

.label {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  line-height: 40px; }

.pure-button-success {
  background-color: #27AE60;
  color: #fff; }

.pure-button-primary {
  margin: 0;
  padding: 0 0 2px 0;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  font-family: 'Georgia', serif;
  border-bottom: 1px dotted #000;
  border-radius: 0; }
  .pure-button-primary:hover {
    background-color: transparent;
    background-image: none;
    color: #7F8C8D;
    border-bottom: 1px solid #7F8C8D; }

.pure-form textarea, .pure-form input[type=text] {
  font-size: 16px;
  font-family: 'Georgia', serif;
  border-color: #ccc !important;
  resize: none; }

.logo-container {
  margin: 52px 0 0 55px; }

.logo {
  padding: 0 0 0 27px;
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  border: none; }
  .logo img {
    position: absolute;
    top: 4px;
    left: 0; }

.sign-in {
  background-color: #55acee;
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  border: none; }
  .sign-in:hover {
    background-color: #74bbf1; }
  .sign-in img {
    margin-right: 5px;
    vertical-align: top; }

.sign-in-desc {
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0; }

.footer {
  padding-bottom: 25px;
  text-align: center; }

a {
  padding-bottom: 2px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #000;
  font-size: 16px; }

.index {
  max-width: 500px;
  margin: 50px auto 50px auto; }
  .index .masthead {
    text-align: center; }
    .index .masthead h1 {
      font-size: 45px;
      line-height: 45px;
      margin: 0 0 15px 0;
      text-transform: uppercase; }
    .index .masthead h2 {
      margin: 0 0 55px 0;
      font-size: 30px;
      font-weight: normal;
      line-height: 40px; }
  .index .user-details {
    margin: 0 0 10px 0;
    padding-top: 10px; }
    .index .user-details .author {
      z-index: 2;
      position: relative;
      font-size: 16px; }
      .index .user-details .author .avatar {
        top: 4px;
        left: 0;
        position: absolute;
        border: none; }
        .index .user-details .author .avatar img {
          border: 1px solid #000; }
      .index .user-details .author .user-inner-details {
        padding: 1px 0 0 70px; }
        .index .user-details .author .user-inner-details a {
          border: none; }
      .index .user-details .author .user-sign-out {
        padding-top: 20px;
        text-align: right; }
      .index .user-details .author h1 {
        margin: 0;
        padding: 0; }
      .index .user-details .author p {
        margin: 0;
        padding: 0; }
  .index .create-pitch .pure-form input[type=text], .index .create-pitch .pure-form textarea {
    margin-bottom: 16px; }
  .index .create-pitch .pure-form input[type=submit] {
    margin-top: 16px; }
  .index .create-pitch .pure-form input[type=checkbox] {
    margin-left: 5px; }

.pitch {
  max-width: 500px;
  margin: 50px auto 50px auto; }
  .pitch p {
    margin: 0 0 16px 0;
    line-height: 26px; }
  .pitch .pitch-details h1 {
    font-size: 45px;
    line-height: 45px;
    margin: 0 0 15px 0;
    text-transform: uppercase; }
  .pitch .pitch-details h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    margin: 0 0 55px 0; }
  .pitch .pitch-details h3 {
    font-size: 16px;
    line-height: 40px;
    margin: 0; }
  .pitch .pitch-feedback {
    margin-top: 30px; }
    .pitch .pitch-feedback > h1 {
      font-size: 22px;
      line-height: 40px;
      text-transform: uppercase; }
    .pitch .pitch-feedback ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    .pitch .pitch-feedback .pure-form {
      margin: 0;
      padding: 0; }
      .pitch .pitch-feedback .pure-form fieldset {
        margin: 0;
        padding: 0; }
      .pitch .pitch-feedback .pure-form textarea {
        height: 45px;
        line-height: 26px;
        outline: none; }
    .pitch .pitch-feedback .vote-controls {
      padding-bottom: 25px;
      border-bottom: 1px solid #BDC3C7; }
      .pitch .pitch-feedback .vote-controls .vote-form .pure-button {
        padding: 10px;
        border: 2px solid #000;
        background-color: #fff;
        font-family: 'Georgia', serif; }
        .pitch .pitch-feedback .vote-controls .vote-form .pure-button:hover {
          background-color: #000;
          color: #fff; }
      .pitch .pitch-feedback .vote-controls .vote-form.vote-like {
        margin-right: 15px; }
      .pitch .pitch-feedback .vote-controls .vote-form.vote-dislike {
        margin-left: 15px; }
      .pitch .pitch-feedback .vote-controls .vote-result {
        text-align: center;
        padding: 12px; }
    .pitch .pitch-feedback .comment-controls {
      margin-top: 27px; }
      .pitch .pitch-feedback .comment-controls .sign-in-desc {
        margin: 0; }
      .pitch .pitch-feedback .comment-controls .pure-button {
        margin: 14px 0 0 0;
        float: right; }
    .pitch .pitch-feedback .comments .comment-item {
      margin-top: 30px;
      padding-top: 16px;
      border-top: 1px solid #BDC3C7; }
      .pitch .pitch-feedback .comments .comment-item:first-child {
        margin-top: 0;
        border-top: none; }
      .pitch .pitch-feedback .comments .comment-item .comment-details {
        margin-bottom: 16px;
        color: #7F8C8D; }
        .pitch .pitch-feedback .comments .comment-item .comment-details .comment-reply-control, .pitch .pitch-feedback .comments .comment-item .comment-details .comment-reply-reply-control {
          text-decoration: none;
          float: right;
          color: #7F8C8D;
          border: none; }
          .pitch .pitch-feedback .comments .comment-item .comment-details .comment-reply-control:hover, .pitch .pitch-feedback .comments .comment-item .comment-details .comment-reply-reply-control:hover {
            color: #95A5A6; }
      .pitch .pitch-feedback .comments .comment-item h1 {
        font-size: 16px;
        line-height: 45px;
        text-transform: none;
        margin: 0;
        padding: 0; }
      .pitch .pitch-feedback .comments .comment-item .comment-replies {
        margin-left: 55px; }
      .pitch .pitch-feedback .comments .comment-item .comment-reply-form {
        margin: 26px 0 0 45px; }
        .pitch .pitch-feedback .comments .comment-item .comment-reply-form textarea {
          height: 120px; }

@media (max-width: 767px) {
  .logo-container {
    text-align: center;
    margin: 25px 0 0 0; }

  .index {
    padding: 0 25px; }

  .pitch {
    padding: 0 25px; } }
