body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: 'Georgia', serif;
}

body {
  background-color: $secondary-colour;
}

h1, h3, h4, .sign-in {
  font-family: 'Helvetica', sans-serif;
}

.pure-form label {
  font-size: 100%;
}

.label {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  line-height: 40px;
}

.pure-button-success {
  background-color: #27AE60;
  color: #fff;
}

.pure-button-primary {
  margin: 0;
  padding: 0 0 2px 0;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  font-family: 'Georgia', serif;
  border-bottom: 1px dotted #000;
  border-radius: 0;

  &:hover {
    background-color: transparent;
    background-image: none;
    color: #7F8C8D;
    border-bottom: 1px solid #7F8C8D;
  }
}

.pure-form textarea, .pure-form input[type=text] {
  font-size: 16px;
  font-family: 'Georgia', serif;
  border-color: #ccc !important;
  resize: none;
}

.logo-container {
  margin: 52px 0 0 55px;
}

.logo {
  padding: 0 0 0 27px;
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  border: none;

  img {
    position: absolute;
    top: 4px;
    left: 0;
  }
}

.sign-in {
  background-color: $twitter;
  color: $white;
  text-decoration: none;
  display: block;
  padding: 8px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: $twitter-light;  
  }

  img {
    margin-right: 5px;
    vertical-align: top;
  }
}

.sign-in-desc {
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
}

.footer {
  padding-bottom: 25px;
  text-align: center;
}

a {
  padding-bottom: 2px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #000;
  font-size: 16px;
}