.index {
  max-width: 500px;
  margin: 50px auto 50px auto;

  .masthead {
    text-align: center;

    h1 {
      font-size: 45px;
      line-height: 45px;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }

    h2 {
      margin: 0 0 55px 0;
      font-size: 30px;
      font-weight: normal;
      line-height: 40px;
    }
  }

  .user-details {
    margin: 0 0 10px 0;
    padding-top: 10px;

    .author {
      z-index: 2;
      position: relative;
      font-size: 16px;

      .avatar {
        top: 4px;
        left: 0;
        position: absolute;
        border: none;

        img {
          border: 1px solid #000;  
        }
      }

      .user-inner-details {
        padding: 1px 0 0 70px;

        a {
          border: none;
        }
      }

      .user-sign-out {
        padding-top: 20px;
        text-align: right;
      }

      h1 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .create-pitch {
    .pure-form {
      input[type=text], textarea {
        margin-bottom: 16px;
      }

      input[type=submit] {
        margin-top: 16px;
      }

      input[type=checkbox] {
        margin-left: 5px;
      }
    }
  } 

}