@media (max-width: 767px) {

  .logo-container {
    text-align: center;
    margin: 25px 0 0 0;
  }

  .index {
    padding: 0 25px;
  }

  .pitch {
    // margin: 35px auto;
    padding: 0 25px;
  }

}