.pitch {
  max-width: 500px;
  margin: 50px auto 50px auto;

  p {
    margin: 0 0 16px 0;
    line-height: 26px;
  }

  .pitch-details {
    h1 {
      font-size: 45px;
      line-height: 45px;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      font-weight: normal;
      margin: 0 0 55px 0;
    }

    h3 {
      font-size: 16px;
      line-height: 40px;
      margin: 0;
    }
  }

  .pitch-feedback {
    margin-top: 30px;

    > h1 {
      font-size: 22px;
      line-height: 40px;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .pure-form {
      margin: 0;
      padding: 0;

      fieldset {
        margin: 0;
        padding: 0;
      }

      textarea {
        height: 45px;
        line-height: 26px;
        outline: none;
      }
    }

    .vote-controls {
      padding-bottom: 25px;
      border-bottom: 1px solid #BDC3C7;

      .vote-form {

        .pure-button {
          padding: 10px;
          border: 2px solid #000;
          background-color: #fff;
          font-family: 'Georgia', serif;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }

        &.vote-like {
          margin-right: 15px;
        }

        &.vote-dislike {
          margin-left: 15px;
        }
      }

      .vote-result {
        text-align: center;
        padding: 12px;
      }

    }

    .comment-controls {
      margin-top: 27px;

      .sign-in-desc {
        margin: 0;
      }

      .pure-button {
        margin: 14px 0 0 0;
        float: right;
      }
    }

    .comments {

      .comment-item {
        margin-top: 30px;
        padding-top: 16px;
        border-top: 1px solid #BDC3C7;

        &:first-child {
          margin-top: 0;
          border-top: none;
        }

        .comment-details {
          margin-bottom: 16px;
          color: #7F8C8D;

          .comment-reply-control, .comment-reply-reply-control {
            text-decoration: none;
            float: right;
            color: #7F8C8D;
            border: none;

            &:hover {
              color: #95A5A6;
            }
          }
        }

        h1 {
          font-size: 16px;
          line-height: 45px;
          text-transform: none;
          margin: 0;
          padding: 0;
        }

        .comment-replies {
          margin-left: 55px;
        }

        .comment-reply-form {
          margin: 26px 0 0 45px;

          textarea {
            height: 120px;
          }
        }
      }
    }
  }
}